# Visual Studio, WPF, and .NET build outputs
.vs/
.cursor/
bin/
obj/

# React application build output
MediaMote/react-app/build/

# Node dependencies and related files in the React app
MediaMote/react-app/node_modules/
MediaMote/react-app/.pnp
MediaMote/react-app/.pnp.js


# React app testing output
MediaMote/react-app/coverage/


# Miscellaneous files for the React app
MediaMote/react-app/.DS_Store
MediaMote/react-app/.env.local
MediaMote/react-app/.env.development.local
MediaMote/react-app/.env.test.local
MediaMote/react-app/.env.production.local


# Log files
MediaMote/react-app/npm-debug.log*
MediaMote/react-app/yarn-debug.log*
MediaMote/react-app/yarn-error.log*